<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
	
	.body{font-family: serif;
		 padding: 10px;
		 background-color:pink;
	}
	.nav{
		background-color:black;
		overflow: hidden;
	}
	.nav a{
		float: left;
		color:white;
		text-align: center;
		text-decoration: none;
		padding: 14px 16px
	}
	.nav a:hover{
		background-color: pink;
	}
	.text{
		background-color: pink;
		padding:30px;
		text-align: center;
	}

</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?
family=Material+Icons">	
</head>
<body>

<div class="nav">
<form action="failed" method="post">
<a href="file:///C:/Users/user/Desktop/%E4%BD%9C%E4%B8%9A3.1.html"></a>

</div>
<div class="text">
<h1 align="center" th:text = "${errorMessage"></h1>
<p>Wrong username or password</p>
</div>
<div>

</div>
<div>
<p><i class="material-icons">cloud</i>:2534515866@qq.com</p>
</div>
</body>
</html>